*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.alphaville.coffeeapplication.Model.CoffeeDatabase/1.json
/app/schemas/com.alphaville.coffeeapplication.Model.CoffeeDatabase/4.json
/app/schemas/com.alphaville.coffeeapplication.Model.Database.CoffeeDatabase/4.json
